<!DOCTYPE html>
<html lang="en">
<!--
\_   _____/|__| ______ _____|__| ____                            
 |    __)  |  |/  ___//  ___/  |/  _ \                           
 |     \   |  |\___ \ \___ \|  (  <_> )                          
 \___  /   |__/____  >____  >__|\____/                           
     \/            \/     \/                                     
_______ _______      ________   _______________  ____  ______  
\_____  \\   _  \    /   __   \  \_____  \   _  \/_   |/  __  \ 
  _(__  </  /_\  \   \____    /   /  ____/  /_\  \|   |>      < 
 /       \  \_/   \     /    /   /       \  \_/   \   /   --   \
/______  /\_____  / /\ /____/ /\ \_______ \_____  /___\______  /
       \/       \/  \/        \/         \/     \/           \/ 
Fyysikkokillan perinteinen puolivuotisjuhla tekee paluun entistä ehompana. Stay tuned!
 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Return of the Fissio</title>

    <link rel="icon" href="img/pellefii_black.png" sizes="192x192" />

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/fissio_prod.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>

<body>
    <div id="bgimg" class="bgimg"></div>
    <div id="content" class="middle">
        <img class="fii" src="img/pellefii.png" />
        <h1 class="header">Fissio is coming, will you?</h1>
        <h1 id="countdown"></h1>
        <br />
        <button id="register-button" class="btn btn-submit btn-lg">
            <span>Register</span>
        </button>
    </div>
    <div id="register-form" class="hidden">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeX63MKpAI2cyFcnPdVYffdPZZ8NxJ_yYAbeUSdJlNiau_fTA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Ladataan...</iframe>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/fissio_prod.js"></script>
</body>
</html>
